@use '../styles/variable' as vars;

.button {
  min-width: 176px;
  min-height: 52px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-family: vars.$fontFamily;
  background-color: #1390e5;
  transition: background-color 0.3s ease;

  &:active {
    background-color: #0b73bd;
  }
}
